<tr>
    <th><%=user.id%></th>
    <th><figure class="profileImages image"><img class="is-rounded" src="<%=user.img%>"></figure></th>
    <td><%=user.name%></td>
    <td><%=user.email%></td>
    <td class="text-center"><a class="button is-small is-danger is-outlined"><span class="icon"><i class="fas fa-lock"></i></span><span>Afficher</span></a></td>
    <td><%-user.role%></td>
    <td class="text-center"><a href="user.html" class="button is-small is-warning is-outlined"><span class="icon"><i class="fas fa-user-edit"></i></span><span>Modifier</span></a></td>
</tr>
